* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2a25;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.item1 {
  grid-area: 1/1/3/3;
  align-self: start;
  justify-self: start;
}

.item2 {
  grid-area: 3/4/4/5;
}

.item3 {
  grid-area: 4/3/5/6;
}

.item4 {
  grid-area: 5/4/6/5;
}

.item5 {
  grid-area: 6/2/7/7;
}

img {
  display: inline-block;
  width: 8vh;
  height: 8vh;
  margin: 25px;
  border: 0;
}

footer, footer > a {
  display: block;
  color: rgba(231,131,243);
  text-decoration: none;
  font-size: 2vh;
}

.pink {
  color:rgb(231,131,243);
  font-size: 2vh;
  text-transform: uppercase;
}

.neon {
  --primary-neon:rgba(231,131,243,.9);
  --light-neon:rgba(46, 249, 239,.7);
  --pulse-neon:rgba(159,87,161,.5);
  --bright-neon:rgba(159,87,161,1);
  --off-neon:#333;
  
  --neon-shadow:0 0 7px 4px var(--light-neon), 0 0 7px 4px var(--light-neon) inset;
  --neon-shadow-pulse:0 0 8px 5px var(--pulse-neon), 0 0 8px 5px var(--pulse-neon) inset;
  --neon-shadow-bright:0 0 8px 4px var(--bright-neon), 0 0 8px 4px var(--bright-neon) inset;
  --neon-shadow-text:0 0 7px var(--primary-neon);
  
  width:100%;
  height:100%;
  padding: 5px;
  color:var(--primary-neon);
  text-shadow:var(--neon-shadow-text);
  border:3px solid var(--primary-neon);
  border-radius:5px;
  display:grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-transform:uppercase;
  font-size:2vh;
  font-weight:bold;
  box-shadow:var(--neon-shadow);
}

.flicker {
  animation:flicker 5s linear infinite;
}

@keyframes flicker {
  0% {
    box-shadow:var(--neon-shadow);
  }
  45% {
    box-shadow:var(--neon-shadow-pulse);
  }
  90% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
    color:var(--primary-neon);
    text-shadow:var(--neon-shadow-text);
  }
  90.01% {
    box-shadow:none;
    border-color:var(--off-neon);
    color:var(--off-neon);
    text-shadow:none;
  }
  94% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  94.01% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  95% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  95.01% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  95.5% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  95.51% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  96% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  96.01% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  96.5% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  96.51% {
    box-shadow:var(--neon-shadow-bright);
    border-color:var(--primary-neon);
  }
  100% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
}
